@import url('https://fonts.googleapis.com/css?family=Anton');
body{
  /* font-family: 'Anton', sans-serif; */
}
.formText{
  color: white;
  font-size: 1rem;
  padding: 10px;
}
/* WINDOW */
.winWrapper{
  width: 400px;
  height: 190px;
  background: #2a3958db;
  border: 1px solid #79bdf8cc;
}

.modalBtn{
  background: linear-gradient(to bottom, #7cbef6 50%,#4696f0 50%);
  width: 180px;
  height: 25px;
  margin-top: 15px;
  border-radius: 3px;
  border: none;
  font-weight: bolder;
}

.checkBtn{
  background: url(http://icons.iconarchive.com/icons/custom-icon-design/flatastic-9/256/Accept-icon.png) no-repeat left/contain ,linear-gradient(to bottom, #7cbef6 50%,#4696f0 50%);
}

.avatarWrapper img{
  min-height: 100px;
  border-radius: 4px;
  margin-top: -16px;
}

.show{
  display: flex!important;
  align-items: center;
  height: 100%;
}
